@page "/"
@inject IJSRuntime JSRuntime
@using System.Collections.Generic
@using BlazorApp1.Models
@rendermode InteractiveServer

<style>
    .div {
      
        -ms-align-content: center;
        -webkit-align-content: center;
        align-content: center;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .sidebar{
        opacity:0;
    }

</style>

<div class="div">
    <a href="/home"<button class="red_button" @onclick="Globals.Game.CreateTeams">Create Teams</button></a>

    <div>
        <input @bind="Globals.Global.NumberOfTeams" type="number" placeholder="Number of Teams" />
        <p>Number of Teams</p>
    </div>
    <div>
        <input @bind="Globals.Global.Round" type="number" placeholder="Round" />
        <p>Number of Rounds</p>
    </div>
</div>


@code {


}
