@page "/"
@inject IJSRuntime JSRuntime
@using System.Collections.Generic
@using BlazorApp1.Models
@rendermode InteractiveServer
@inject SidebarService SidebarService


<PageTitle>AiDiscovery</PageTitle>

<style>
    .div {
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .topRows{
        position:static;
        display: flex;
        
        padding: 10px;
    
    }


</style>


<a href="/home"><button>Home</button></a>
<a href="/home"><button @onclick="Globals.Game.InitializeGameState">Load Saved Game</button></a>
<div class="div">
   

    <div>
        <a href="/home"<button class="red_button" @onclick="Globals.Game.CreateTeams">Create Teams</button></a>
        <br />
        <input @bind="Globals.Global.NumberOfTeams" type="number" placeholder="Number of Teams" />
        <p>Number of Teams</p>
        <input @bind="Globals.Global.Round" type="number" placeholder="Round" />
        <p>Number of Rounds</p>
    </div>
</div>



@code {

    protected override void OnInitialized()
    {
        SidebarService.RefreshRequested += OnSidebarRefreshRequested;
        SidebarService.InitializeSidebarVisibility(false); // Set initial visibility here

    }

    private void OnSidebarRefreshRequested()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SidebarService.RefreshRequested -= OnSidebarRefreshRequested;
    }

}
