@page "/"
@inject IJSRuntime JSRuntime
@using System.Collections.Generic
@using BlazorApp1.Models
@rendermode InteractiveServer

<PageTitle>AiDiscovery</PageTitle>

<style>
    .div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }
   
  

    .sidebar {
        width: 0px;
        height: 100vh;
        position: sticky;
        top: 0;
    }


</style>


<div class="div">
    <a href="/home"<button class="red_button" @onclick="Globals.Game.CreateTeams">Create Teams</button></a>

    <div>
        <input @bind="Globals.Global.NumberOfTeams" type="number" placeholder="Number of Teams" />
        <p>Number of Teams</p>
    </div>
    <div>
        <input @bind="Globals.Global.Round" type="number" placeholder="Round" />
        <p>Number of Rounds</p>
    </div>
</div>


@code {


}
