<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/Start" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorApp1.styles.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/dark.css">
    <link rel="stylesheet" href="My.css" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>

    <script src="_framework/blazor.web.js"></script>
    <script>
        function connectWebSocket() {
            var socket = new WebSocket("ws://localhost:5000/ws");

            socket.onmessage = function (event) {
                console.log("Message from server ", event.data);
            };

            socket.onclose = function (event) {
                if (event.wasClean) {
                    console.log(`Connection closed cleanly, code=${event.code} reason=${event.reason}`);
                } else {
                    console.log('Connection died');
                }
            };

            socket.onerror = function (error) {
                console.log(`[error] ${error.message}`);
            };
        }
    </script>

</body>

</html>
